<ons-page ng-controller="TillController"> 
	<ons-toolbar fixed-style>
		<div class="left">
			<ons-toolbar-button ng-click="menu.setMainPage('page/till.html', {closeMenu: true})">
			<ons-icon icon="ion-ios-arrow-back"></ons-icon> Back
			</ons-toolbar-button>
		</div>		
		<div class="center">Adjust Till</div>
	</ons-toolbar>

	<form novalidate="novalidate" autocomplete="off" name="form" class="form-default">
	
	<div class="input-group">
		<div class="button-bar line-details-button-bar" style="width:280px;" ng-init="action='payin';">
          <div class="button-bar__item">
            <input type="radio" name="navi-segment-a" ng-model="action" value="payin" checked>
            <button class="button-bar__button">Add</button>
          </div>
          <div class="button-bar__item">
            <input type="radio" name="navi-segment-a" ng-model="action" value="payout">
            <button class="button-bar__button">Remove</button>
          </div>
        </div>
	</div>
	
	<div class="input-group">
		<label>{{ action == 'payin' ? 'Amount to be added' : 'Amount to be removed'}} *</label>
		<input type="number" step="any" ng-model="amount" name="amount" required placeholder="{{action == 'payin' ? 'Amount to be added' : 'Amount to be removed'}}">
	</div>
	
	<div class="input-group">
		<label>Reason *</label>
		<textarea ng-model="reason" name="reason" required rows="5" placeholder="Enter a reason"></textarea>
	</div>
	
	<div class="input-group">
		<ons-row>
			<ons-col>
				<ons-button class="button--large button--outline" ng-click="menu.setMainPage('page/till.html', {closeMenu: true})">Cancel</ons-button>
			</ons-col>
			<ons-col>
				&nbsp;
			</ons-col>
			<ons-col>
				<ons-button class="button--large" ng-click="adjustTill(action, amount, reason)" ng-disabled="!form.$valid">{{ action == 'payin' ? 'Add' : 'Remove'}}</ons-button>
			</ons-col>
		</ons-row>
	</div>	
	
	</form>
</ons-page>